#content .noanswers{
display: none;
}

.pa-like + span.bullet {
display: none;
}
.pa-like {
  margin-right: 3px;
}

.comment .postactions {
    margin-top: 4px !important;
}

[id='318851'] .postactions,
[id='318856'] .postactions,
[id='318882'] .postactions,
[id='318820'] .postactions,
[id='318826'] .postactions,
[id='319338'] .postactions,
[id='319573'] .postactions
{
   display: none;
}

[id='318851'] .postvote,
[id='318856'] .postvote,
[id='318882'] .postvote,
[id='318820'] .postvote,
[id='318826'] .postvote,
[id='319338'] .postvote,
[id='319573'] .postvote
{
   display: none;
}

.aui-header .aui-header-logo-aui .aui-header-logo-device {
    background: url("https://i.imgur.com/GeWiIAw.png") !important;
    width: 200px !important;
    margin-top: 3px !important;
    background-repeat: no-repeat !important;
    background-position: 0% 0% !important;
}

@media (max-width: 480px) {
 .aui-header .aui-header-logo-aui .aui-header-logo-device{
  width: 150px !important;
  background-size:150px 30px !important;
  background-position: 50% 7px !important;
 }
}

