@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZPtskegcCiyob1Up9pN3j4u3jd6j60QuBFyT9NmB%2BEyQY0VyFk4hQlqkBe%2B3gPDUMEcmKngmbVTRKyEdhkXOP47u3oc5su9JlQ%2BFMtK%2BjVze) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZPtskegcCiyob1Up9pN3j4u5oydlBd1Sj32d1H61DQZXFJCXiOEvPIrpxQyz7izc2l3RxPnJMlXc5UB108Wf00SMquWZOtBA21S%2BbMaJiAUb) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZPtskegcCiyob1Up9pN3j4vn%2FZKA6zZOiDLeXFVDVxe2GFN1TS%2F6qQ6N6F4vT7Q%2FBkcmKngmbVTRKyEdhkXOP47u3oc5su9JlQ%2BFMtK%2BjVze) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZPtskegcCiyob1Up9pN3j4skl90%2B3UipNJ7bpbpQYPZH6VV4Wb6wgefBzG6MZ1%2BOHEcmKngmbVTRKyEdhkXOP47u3oc5su9JlQ%2BFMtK%2BjVze) format('woff');
}
