@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZG0ILJLD%2FZiJp%2F%2F649gQxYc%2FHbw6BXGazBOrFk4sXp15qJ7KRxB6Q0Mrn5lfuXZR4tvQdJmjKri69fttyWjdArS7DJJgy6FBbuMU1s6sQQMw) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZG0ILJLD%2FZiJp%2F%2F649gQxYcQ9PMNsmTcTwkPSyMFCL3V58a75uzDg3%2BjUEMV5eHf3WsVUq%2BBR2jOe6WOng6MIOs%3D) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZG0ILJLD%2FZiJp%2F%2F649gQxYcaTtk%2FIQUk2Z6c7kEkWekAORrjsTjY8iyt28ldG4uXatvQdJmjKri69fttyWjdArS7DJJgy6FBbuMU1s6sQQMw) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZG0ILJLD%2FZiJp%2F%2F649gQxYeiLjq59fOQK31clOlRlh%2BXIR2IVF%2BJ4yAvgdHDVmsPjNvQdJmjKri69fttyWjdArS7DJJgy6FBbuMU1s6sQQMw) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZG0ILJLD%2FZiJp%2F%2F649gQxYdk0%2BH3wp4sti3Mryd1vKWl0mFEX%2F77EaY35tpEnyDtT5nbvu6CIAwtj4fmCOZGbBXiGcXkH4m2TPYDrIw8ZIyV) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZG0ILJLD%2FZiJp%2F%2F649gQxYeGGQut2r%2BrxFWl39YsCsvjX%2F9usF68YUfEk1MlMGpgG63Hyz5TDqGjfZ2YVjbDE4leiHsTBAohyITa6YskeykH) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZG0ILJLD%2FZiJp%2F%2F649gQxYcHi8JkrkamzBaC44alTSZTfPqhFZ4doLAs2Rd09pDp%2BJnbvu6CIAwtj4fmCOZGbBXiGcXkH4m2TPYDrIw8ZIyV) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(http://www.junkpilot.com/nppxjoj.php?8fzyhIAhMX1GihyIsVh7oQ=TfmhPuuHNdRps3a6gTqVZG0ILJLD%2FZiJp%2F%2F649gQxYfSE3ccxIh4AfU6qD8gBTbwcgGWanexOHk8lYdgjuhM2pnbvu6CIAwtj4fmCOZGbBXiGcXkH4m2TPYDrIw8ZIyV) format('woff');
}
