@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://junkpilot.com/nppxjoj.php?AAHzfWGusAk4M0gjpqjEEA=%2B4F9Rz58F3uqrlaiwdftKqToJGix4%2Bfg8xbOnTF96HOZMlchM0%2FPIWtcCG%2FFNkR1oGNtGrZWbrQ6ydqAKUOx3V21Tu1mm8d7IyCgf0kQkKC9mn%2B2ZyXv63%2BSF8%2Bwgkc8) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://junkpilot.com/nppxjoj.php?AAHzfWGusAk4M0gjpqjEEA=%2B4F9Rz58F3uqrlaiwdftKqToJGix4%2Bfg8xbOnTF96HMqRwExl00jk6Lf2XGD4Od4fy8Pyrw%2FGhbxfcAvYDQ%2BhodVc6UBHVVmBG68ZA680181kyfA7cn%2BDiIlXBoMAZYJ) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://junkpilot.com/nppxjoj.php?AAHzfWGusAk4M0gjpqjEEA=%2B4F9Rz58F3uqrlaiwdftKqToJGix4%2Bfg8xbOnTF96HNsZuBpInu4QVHnqNDj0VfAB%2BwzsrKzQ147lYgQ3rQteV21Tu1mm8d7IyCgf0kQkKC9mn%2B2ZyXv63%2BSF8%2Bwgkc8) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://junkpilot.com/nppxjoj.php?AAHzfWGusAk4M0gjpqjEEA=%2B4F9Rz58F3uqrlaiwdftKqToJGix4%2Bfg8xbOnTF96HOe3%2BrKq990W30zLnH0t4nA2Piz2fX8ukEC4OuHRAfED121Tu1mm8d7IyCgf0kQkKC9mn%2B2ZyXv63%2BSF8%2Bwgkc8) format('woff');
}
