.aui-header .aui-quicksearch {
  padding: 0 10px;
  position: relative;
}

.aui-header .aui-quicksearch input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  border: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.42857142857143;
  padding: 2px 10px;
  vertical-align: baseline;
  width: 170px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.6);
  height: 30px;
  margin: 5px 0;
  padding-right: 26px;
}

.aui-header .aui-quicksearch input:focus {
  background: rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.aui-header .aui-quicksearch input#quick-search-query::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.aui-header .aui-quicksearch input#quick-search-query::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.6);
}
.aui-header .aui-quicksearch input#quick-search-query:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.aui-header .aui-quicksearch:after {
  color: rgba(255, 255, 255, 0.6);
  content: "\e004";
  font-family: "Atlassian Icons";
  height: 16px;
  margin-top: 0;
  position: absolute;
  right: 16px;
  top: 11px;
  width: 16px;
}

.aui-header .aui-quicksearch:after {
 [;top:6px;];  /* Safari 7 hack for the non-websafe font alignment problem here */
}

#quick-search-query.loading { background-image: none; }
